.pc
.filelist
FILE_ID.DIZ
INSTALL
Makefile.global
config.h
config.log
config.status
paths.h
stamp-h
html/basic.html
html/index.html
html/upgrade.html
script/editor
script/installinit.log
unix/login.defs
lib/ftscprod.c
ftncico/ftncico
ftncico/ftnout
ftnfido/ftnaff
ftnfido/ftndiff
ftnfido/ftnfido
ftnfido/ftnfile
ftnfido/ftnindex
ftnfido/ftnmsg
ftnfido/ftnseq
ftnmon/ftnmon
ftnnntp/ftnnntp
ftnbbs/ftnnewusr
ftnbbs/ftnbbs
ftnsetup/ftnsetup
ftntask/ftntask
ftnutils/ftnall
ftnutils/ftnbw
ftnutils/ftnlang
ftnutils/ftnsnmp
ftnutils/ftnstat
ftnutils/ftntoberep
ftnutils/ftnuser
unix/ftnlogin
unix/ftnpasswd
unix/ftnuseradd

syntax: glob
lang/language.*
lib/*.o
lib/*.a
ftncico/*.o
ftnfido/*.o
ftnmon/*.o
ftnnntp/*.o
ftnsebbs/*.o
ftnsetup/*.o
ftntask/*.o
ftnutils/*.o
unix/*.o
autom4te.cache/*

