Source: mbsebbs
Section: comm
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 7.0.50), autotools-dev, libbz2-dev, libz-dev
Standards-Version: 3.8.4
Vcs-Git: git://github.com/jame/mbsebbs.git
Vcs-Browser: http://github.com/jame/mbsebbs
Homepage: http://www.mbse.eu/bbsing/mbsebbs

Package: mbsebbs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Recommends: xinetd, arc, zip, unzip, telnetd-ssl, openssh-server
Suggests: arj, unrar-free, zoo, lha, ha, joe, dosemu, dosemu-freedos, tetradraw
Description: MBSE BBS System for Unix
 MBSE BBS is a full Fidonet capable ANSI BBS 
 package including a mailer, tosser, ticfile 
 processor, filefind and other utilities. 
 The bbs supports full configurable ANSI
 menus, multiple languages, standard file 
 transfer protocols, native GNU/Linux doors,
 DOS doors using dosemu and BlueWave and QWK
 offline readers.
 The mailer supports FTS-0001, YooHoo/2U2,
 EMSI protocols over modem, TCP/IP IFC and
 Binkp protocols. Zedzap, Zmodem, Telink and
 Hydra file transfer protocols.  Full FTN mail
 support, including automatic routing for hub
 and host systems.
 Internal mail format is JAM (c) messagebase.
 Full tic file support, including extended
 tic files.
