#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for ftnd.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Set FTND_ROOT to ftnd installation directory.
export FTND_ROOT=/opt/ftnd


%:
	dh $@ --with autotools-dev

override_dh_auto_clean:
	[ ! -f Makefile.global ] || dh_auto_clean

override_dh_auto_install:

override_dh_strip:
	dh_strip --dbg-package=ftnd-dbg

override_dh_fixperms:
	dh_fixperms
	chmod 4710 debian/ftnd/opt/ftnd/bin/ftntask
	chmod 6750 debian/ftnd/opt/ftnd/bin/ftnnewusr
	chmod 6711 debian/ftnd/opt/ftnd/bin/ftnuser
	chmod 6711 debian/ftnd/opt/ftnd/bin/ftnuseradd
	chmod 6711 debian/ftnd/opt/ftnd/bin/ftnpasswd
	chmod 0755 debian/ftnd/opt/ftnd/bin/ftnlogin


