#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for mbsebbs.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Set MBSE_ROOT to mbse installation directory.
export MBSE_ROOT=/opt/mbsebbs


%:
	dh $@ --with=autotools_dev


