#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for ftnd.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Set FTND_ROOT to ftnd installation directory.
export FTND_ROOT=/usr/lib/ftnd


%:
	dh $@

override_dh_auto_clean:
	[ ! -f Makefile.global ] || dh_auto_clean

override_dh_auto_install:

override_dh_installchangelogs:
	dh_installchangelogs --keep ChangeLog

override_dh_strip:
	dh_strip --dbgsym-migration='ftnd-dbg (<< 0.25-1~)'


get-orig-source:
	uscan --force-download --rename --destdir .

.PHONY: get-orig-source
