/*
 * $Id$
 *
 * stylesheet for the MBSE BBS manual.
 */


BODY      { background-color: white; font-family: Arial, Helvetica; }

/*
 * H1 is the page header, H3 the paragraph header, H5 is topright update date.
 */
H1        { color: red;    align: center;   font-family: Arial, Helvetica; font-size: 16pt;  font-weight: bold }
H2	  { color: orange; align: center;   font-family: Arial, Helvetica; font-size: 16pt;  font-weight: bold }
H3        { color: black;  margin-left: 40; font-family: Arial, Helvetica; font-size: 14pt;  font-weight: bold }
H5        { color: black;  align: right;    font-family: Arial, Helvetica; font-size: 8pt; }

A:link	  { color: blue }
A:visited { color: darkblue }
A:active  { color: red  }

PRE       { color: brown; font-family: fixed; }
CODE      { color: brown; font-family: fixed; }
HR        { border-top: solid medium navy }


